@use "../../../variables";

.word-phrase-list-view {
  position: relative;
  width: 100%;
  padding-right: 0;
  @media (min-width: variables.$device-width-tablet-portrait) {
    padding-right: 120px;
  }
  &__value {
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__sounds-like {
    color: variables.$color-neutral-01
  }
  &__info {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    @media (min-width: variables.$device-width-tablet-portrait) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      padding: 10px 0 10px 10px;
      cursor: default;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  &__level {
    font-size: 12px;
    color: variables.$color-neutral-06;
  }
}