@use "../../../variables";

.word-phrase-list-view {
  position: relative;
  width: 100%;
  padding-right: 0;
  @media (min-width: variables.$device-width-tablet-portrait) {
    padding-right: 120px;
  }
  &__value {
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__sounds-like {
    color: variables.$color-neutral-01
  }
  &__level {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: variables.$color-neutral-06;
    @media (min-width: variables.$device-width-tablet-portrait) {
      display: block;
    }
  }
}