$color-copy: #2d2d2d;
$color-label-01: #444444;

$color-neutral-01: #9a9a9a;
$color-neutral-02: #bebebe;
$color-neutral-03: #e0e0e0;
$color-neutral-04: #fbfbfb;
$color-neutral-05: #a7a9b3;
$color-neutral-06: #cacaca;

$footer-height: 60px;
$main-padding-bottom: 75px;

// breakpoints
$device-width-tablet-portrait: 768px;
$device-width-non-mobile: 665px;
$device-width-small-mobile: 320px;