@use "./variables";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: variables.$color-copy;
  margin: 0;
  padding-bottom: variables.$footer-height;
  overflow-y: scroll;
  position: relative;
}
header {
  padding: 10px 0;
  @media (min-width: variables.$device-width-non-mobile) {
    padding: 50px;
  }
  nav {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
    @media (min-width: variables.$device-width-non-mobile) {
      display: flex;
    }
    a {      
      font-weight: 600;
      color: variables.$color-neutral-01;
      text-decoration: none;
      img {
        display: none;
      }
      &.active {
        color: variables.$color-copy;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f6f6;
  padding: 0 15px;
  @media (min-width: variables.$device-width-non-mobile) {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: variables.$footer-height;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      font-size: 12px;
      font-weight: 600;
      color: variables.$color-neutral-01;
      text-decoration: none;
      &.active {
        color: variables.$color-copy;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      width: 20px;
      height: 20px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
main {
  padding: 0 0 variables.$footer-height+variables.$main-padding-bottom 0;
  @media (min-width: variables.$device-width-non-mobile) {
    padding-bottom: variables.$main-padding-bottom;
  }
  section.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    >* {
      width: 100%;
    }
    @media (min-width: variables.$device-width-tablet-portrait) {
      padding: 0;
    }
  }
}
input, select, button, label.btn {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: variables.$color-copy;
  border-radius: 5px;
  border: 1px solid variables.$color-neutral-02;
}
input, select {
  padding: 15px;
}
h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
label {
  color: variables.$color-label-01;
}
button, 
label.btn,
input[type="submit"],
input[type="button"] {
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  padding: 6px 10px;
  text-align: center;
  cursor: pointer;
  @media(hover: hover) {
    &:hover {
      border-color: variables.$color-copy;
    }
  }
}

h1, div, label {
  outline: none;
}

.flex-spacer {
  flex-grow: 1;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    >* {
      width: 100%;
    }
    input,
    select {
      width: 100%;
    }
    label {
      font-weight: 600;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
  }
  .form-error {
    font-size: 14px;
    color: red;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
  li {
    padding: 10px 0;
    border-bottom: 1px solid variables.$color-neutral-03;
    cursor: pointer;
    &:hover {
      background-color: variables.$color-neutral-04;
    }
  }
  li:first-child {
    border-top: 1px solid variables.$color-neutral-03;
  }
  &.list--no-row-click {
    li {
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }
  }
}