@use "../../variables";

.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__word {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    h1 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
  }
  &__sounds-like {
    color: variables.$color-neutral-01;
  }
  &__choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 100%;
    >* {
      width: 100%;
      max-width: 400px;
      min-height: 42px;
      @media (min-width: variables.$device-width-tablet-portrait) {
        width: 400px;
      }
    }
  }
  &__next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    min-width: 150px;
    height: 42px;
  }
  &__feedback {
    &--correct {
      color: green;
      font-weight: bold;
    }
    &--incorrect {
      color: red;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.learn__selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 35px;
  width: 100%;
  label {
    font-weight: 600;
  }
  select {
    flex-grow: 1;
    padding: 5px 10px;
    max-width: 400px;
  }
}