.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__word {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }
  &__sounds-like {
    color: #9a9a9a;
  }
  &__choices {
    display: flex;
    flex-direction: column;
    gap: 35px;
    >* {
      width: 400px;
      min-height: 42px;
    }
  }
  &__next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    min-width: 150px;
    height: 42px;
  }
  &__feedback {
    &--correct {
      color: green;
      font-weight: bold;
    }
    &--incorrect {
      color: red;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}