.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__word {
    margin-bottom: 45px;
  }
  &__sounds-like {
    color: #9a9a9a;
  }
  &__choices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    >* {
      width: 300px;
    }
  }
  &__next-button {
    margin-top: 45px;
  }
  &__feedback {
    &--correct {
      color: green;
      font-weight: bold;
    }
    &--incorrect {
      color: red;
      font-weight: bold;
    }
  }
}