@use "../../variables";

.search {
  &__controls {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 15px;
  }
  &__field-wrapper {
    position: relative;
    flex-grow: 1;
  }
  &__field {
    width: 100%
  }
  &__clear-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: variables.$color-neutral-01;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__item-meaning {
    color: variables.$color-neutral-01;
  }
}

.search--embedded {
  .search__controls {
    margin-bottom: 5px;
  }
  li {
    display: flex;
    align-items: center;
    div {
      flex-grow: 1;
    }
  }
}